[submodule "gui"]
	path = gui
	url = git@github.com:smac89/FireballCMSGUI.git
[submodule "worldfx"]
	path = worldfx
	url = https://github.com/HanSolo/worldfx.git
[submodule "jbootx"]
	path = jbootx
	url = https://github.com/dicolar/jbootx.git
