@font-face {
    font-family: 'Trench';
    src: url('/trench.otf');
}

.root {
    -fx-base: #222222;
    -fx-accent: rgba(125, 125, 125, 0.77);
    -fx-text-fill: white;
    -fx-control-inner-background: derive(-fx-base, 80%);
    -fx-padding: 0 2em 2em 2em;
}

.root > .label {
    -fx-font-family: 'Trench';
    -fx-font-size: 3.5em;
    -fx-label-padding: .5em 1em;
}

.text {
    -fx-fill: white;
}

.split-pane-divider {
    -fx-pref-width: 1px;
    -fx-background-color: transparent;
    visibility: hidden;
}

.auth-field {
    -fx-padding: 1em 0.5em;
    -fx-pref-height: 3.5em;
    -fx-pref-width: 20em;
}

#social {
    -fx-background-size: 100%;
    -fx-max-width: 14em;
    -fx-max-height: 8em;
    -fx-background-position: 100%;
    -fx-background-repeat: stretch;
}

.google {
    -fx-background-image: url("/login/google_signin_dark_normal_web.png");
}

.google:disabled {
    -fx-background-image: url("/login/google_signin_dark_disabled_web.png");
}

.google:hover {
    -fx-background-image: url("/login/google_signin_dark_focus_web.png");
}

.google:pressed {
    -fx-background-image: url("/login/google_signin_dark_pressed_web.png");
}

.twitter {
    -fx-background-image: url("/login/twitter-social.png");
}


